
config EXAMPLES_SPITEST
	tristate "SPI test for mcp2515"
	default n
	---help---
		Enable the spitest app

if EXAMPLES_SPITEST

config EXAMPLES_SPITEST_PROGNAME
	string "Program name"
	default "spitest"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_SPITEST_PRIORITY
	int "spitest task priority"
	default 100

config EXAMPLES_SPITEST_STACKSIZE
	int "spitest stack size"
	default 2048

endif
